@import "colores.css";
@import "cabecera.css";
@import "contactos.css";
@import "timeline.css";
@import "actualizar.css";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans";
}

#app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: #3E4144;
}

.cuerpo {
  margin-top: 81px;
  color: white;
}
