@import "colores.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

body {
  font-family: "Open Sans";
  background-image: linear-gradient(73deg, var(--azul_claro), var(--azul_oscuro));
  height: 1000px;
}

.logo {
  height: 838px;
  width: 812px;
  position: absolute;
  left: 314px;
  display: flex;
  flex-direction: column;
}

.logo__titulo {
  color: white;
  margin: 0 auto;
  font-size: 96px;
  font-weight: lighter;
}

.logo__imagen {
  height: 735px;
  width: 810px;
  & img {
    width: 100%;
    position: absolute;
  }
}

.ingresar {
  height: 686px;
  width: 661px;
  background-color: rgba(102, 111, 136, .75);
  border-radius: 67px;
  position: relative;
  left: 389px;
  top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & a {
    display: block;
    margin-top: 59px;
    color: #4CC9F0;
    font-size: 20px;
    font-weight: lighter;
  }
}

.ingresar__titulo {
  color: white;
  opacity: 1;
  font-weight: bold;
  font-size: 32px;
  margin-top: 38px;
  margin-bottom: 122px;
}

.ingresar__campo {
  height: 61px;
  width: 489px;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  outline: none;
  background-color: var(--gris_oscuro);
  font-weight: lighter;
  font-size: 24px;
  padding-left: 63px;
  margin-bottom: 70px;
}

.ingresar__btn {
  height: 63px;
  width: 489px;
  color: white;
  font-weight: lighter;
  font-size: 24px;
  background-color: #F72585;
  border: none;
  box-shadow: 0 3px 10px black;
  margin-top: 31px;
}
