@import "colores.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans";
  background-image: linear-gradient(73deg, var(--azul_claro), var(--azul_oscuro));
  height: 100vh;
}

.logo {
  width: 56%;
  height: 81%;
  position: absolute;
  top: 4%;
  left: 22%;
  z-index: 1;
}

.logo__titulo {
  /*background-color: green;*/
  height: 13%;
  color: white;
  font-size: 96px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  /*background-color: cyan;*/
  width: 100%;
  height: 87%;
  display: flex;
  justify-content: center;
  & img {
    height: 100%;
    width: 100%;
  }
}

.container {
  /*background-color: gray;*/
  height: 100%;
}

.ingresar {
  /*background-color: green;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(102, 111, 136, .75);
  border-radius: 67px;
  height: 68%;
  position: relative;
  z-index: 2;
}

.form__titulo {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.form__campo {
  height: 50px;
  width: 68%;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  outline: none;
  background-color: var(--gris_oscuro);
  font-weight: lighter;
  font-size: 24px;
  padding-left: 40px;
  margin-bottom: 70px;
  margin-left: 15%;
}

.form__btn {
  display: block;
  height: 50px;
  width: 68%;
  color: white;
  font-weight: lighter;
  font-size: 24px;
  background-color: #F72585;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 10px black;
  margin-left: 15%;
}

.form__enlace {
  display: inline-block;
  color: #4CC9F0;
  margin-top: 16px;
  margin-left: 40%;
}
