.timeline {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.publicar {
  width: 625px;
  height: 91px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #474B4E;
}

.publicar__foto {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  background-color: black;
  margin-left: 30px;
  margin-right: 0;
}

.publicar__entrada {
  height: 43px;
  width: 422px;
  margin-left: 49px;
  padding-left: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #6F6F6F;
  font-size: 20px;
  font-weight: normal;
}

.overlay__publicar {
  width: 626px;
  min-height: 198px;
  background-color: #474B4E;
  padding-top: 21px;
  padding-left: 31px;
  border-radius: 5px;
  border: none;
  position: absolute;
  right: -64px;
  color: white;
}

.overlay__publicar__fila {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.overlay__publicar__perfil {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  background-color: black;
  margin-right: 49px;
}

.overlay__publicar__texto {
  min-height: 78px;
  width: 422px;
  color: white;
  font-size: 20px;
  font-weight: normal;
  background-color: #6F6F6F;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 20px;
}

.overlay__publicar__archivo {
  width: 65px;
  height: 31px;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  cursor: pointer;
  & i {
    height: 100%;
  }
}

.overlay__publicar__btn {
  width: 142px;
  height: 31px;
  border: none;
  outline: none;
  background-color: #7209B7;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 84px;
}

.modal-content {
  border: none !important;
}

.posts {
  width: 100%;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacio {
  width: 626px;
  height: 316px;
  background-color: #474B4E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacio__titulo {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 24px;
}

.vacio__icono {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    color: #3E4144;
    font-size: 220px;
  }
}
