{% extends 'layout/outter.html' %}
{% load static %}

{% block title %}Iniciar Sesion{% endblock %}

{% block content %}
  <form id="form-ingresar" action="{% url 'IniciarSesion:index'%}" method="POST">
  {% csrf_token %}
  <p class="form__titulo">Ingresar</p>
  <input class="form__campo ancho-64" type="email" name="correo" placeholder="Correo">
  <input class="form__campo ancho-64" type="password" name="contrasena" placeholder="Contraseña">
  <input class="form__btn ancho-64" type="submit" value="Ingresar">
  <a class="form__link" href="{% url 'CrearCuenta:index' %}">Aun no tengo cuenta</a>
</form>
{% endblock %}
