{% extends 'layout/inner.html' %}

{% block title %}Ver Actividad{% endblock %}

{% block content %}
<div class="timeline">
  <div class="publicar" id="publicar">
    <div class="publicar__foto"></div>
    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-publicar">
      <input class="publicar__entrada text-white" type="text" placeholder="¿Qué estás pensando?">
    </a>
  </div>
  <div class="posts" id="posts">
    {% if posts %}
      <p>Hay post</p>
    {% else %}
      <div class="vacio">
        <p class="vacio__titulo">No tienes publicaciones nuevas</p>
        <div class="vacio__icono">
          <i class="bi bi-clock-history"></i>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
