{% extends 'layout/inner.html' %}

{% block title %}Ver Actividad{% endblock %}

{% block content %}
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
<p>hola</p>
{% endblock %}
