{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - GAIA</title>
    <link rel="stylesheet" href="{% static 'public/index.css' %}">
    <link rel="stylesheet" href="{% static 'public/bs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer type="module" src="{% static 'src/inner.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'src/bs/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <div id="app">
      <header class="fixed-top">
        <div class="container-fluid">
          <div class="cabecera row">
            <div class="col-9">
              <div class="cabecera__columna">
                <a class="cabecera__icono" href="{% url 'indexVerActividad' %}">
                  <img src="{% static 'images/inicio.jpeg' %}" alt="">
                </a>
                <div class="buscar">
                  <i class="bi bi-search"></i>
                  <input class="cabecera__busqueda" type="search" name="" placeholder="Buscar...">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="cabecera__columna">
                <div class="cabecera__btn">
                  <i class="bi bi-chat"></i>
                </div>
                <div class="cabecera__btn">
                  <i class="bi bi-bell"></i>
                </div>
                <div class="perfil">
                  <div class="perfil__foto"></div>
                  <div class="perfil__nombre">text</div>
                </div>
                <div class="opciones" hidden>
                  <a href="{% url 'indexActualizarCuenta' %}">
                    <button class="opciones__btn rosa" type="button">Actualizar cuenta</button>
                  </a>
                  <a href="{% url 'IniciarSesion:index' %}">
                    <button class="opciones__btn morado" type="button">Cerrar sesión</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="cuerpo container-fluid">
        <div class="row justify-content-between">
          <aside class="col-3"></aside>
          <main class="col-6">
            {% block content %}{% endblock %}
          </main>
          <aside class="contactos col-3">
            <div class="contactos__titulo">Contactos</div>
            <div class="contactos__lista">
              <div class="contacto">
                <div class="contacto__foto"></div>
                <a class="contacto__nombre" href="#">texto</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-publicar" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="overlay__publicar" action="{% url 'publicar' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="overlay__publicar__fila">
              <div class="overlay__publicar__perfil"></div>
              <textarea class="overlay__publicar__texto" name="texto" placeholder="¿Qué estás pensando?"></textarea>
            </div>
            <div class="overlay__publicar__fila">
              <input type="file" id="publicar-btn-foto" hidden>
              <label class="overlay__publicar__archivo" for="publicar-btn-foto">
                <i class="bi bi-card-image"></i>
                Foto
              </label>
              <input type="file" id="publicar-btn-video" hidden>
              <label class="overlay__publicar__archivo" for="publicar-btn-video">
                <i class="bi bi-link-45deg"></i>
                Video
              </label>
            </div>
            <div class="overlay__publicar__pendientes"></div>
            <div class="overlay__publicar__fila">
              <button class="overlay__publicar__btn" type="submit">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
