{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - GAIA</title>
    <link rel="stylesheet" href="{% static 'public/outter.css' %}">
    <script defer type="module" src="{% static 'src/outter.js' %}"></script>
  </head>
  <body>
    <div id="app">
      {% block content %}{% endblock %}
      <div class="logo">
        <div class="logo__titulo">GAIA</div>
        <div class="logo__img">
          <img src="{% static 'images/logo.png' %}" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
